<table class="table <%= wallet.nil? ? '' : 'collapse' %>" id="table1" style="font-size: 0.8em;">
  <thead>
    <tr>
      <td>date</td>
      <td>tx hash</td>
      <td>to</td>
      <td>from</td>
      <% unless wallet.nil? %>
	      <td>flow</td>
      <% else %>
        <td>value</td>
	    <% end -%>
      <td>labels</td>
      <td style="min-width:200px">add tag</td>
    </tr>
  </thead>
  <tbody>
    <% transactions.sort_by {|tx| tx.unixtimestamp }.each_with_index do |tx, i| %>
      <% if wallet.nil? %>
        <tr>
          <td><%= Time.at(tx.unixtimestamp).strftime("%B %d, %Y") %></td>
          <td><%= link_to "#{tx.hash[0...10]}...", "https://etherscan.io/tx/#{tx.hash}" %></td>
          <td><%= wallet_resolver(wallets, tx.to) %></td>
          <td><%= wallet_resolver(wallets, tx.from) %></td>
          <% if tx.respond_to? :value %>
            <td><%= tx.value / 10**18 %></td>
          <% end %>
          <td>
            <div class="labels" id="transactions-<%= tx.hash %>" >
              <% tx.categories.each do |c| %>
                <span class="badge badge-pill badge-active tag"><%= c.name %></span>
              <% end -%> 
            </div>   
          </td>

          <td class="min-width:100px">
            <%= form_for tx, remote: true, local: false, turbolinks: false do |f| -%>
              <div class="form-group">
                <%= f.collection_select :category_ids, Category.all, :id, :name, class: "form-select tag-select" %>
                <%= f.submit "Tag", class: "tag-submission" %>
              </div>
            <% end -%>
          </td>
          
        </tr>   
      <% else %>
	      <% if tx.flow(wallet.address) != 0 %>
	        <tr class="<%= tx.flow(@wallet.address) > 0 ? 'positive-flow' : 'negative-flow' %>">
	          <td><%= Time.at(tx.unixtimestamp).strftime("%B %d, %Y") %></td>
	          <td><%= link_to "#{tx.hash[0...10]}...", "https://etherscan.io/tx/#{tx.hash}" %></td>
	          <td><%= wallet_resolver(wallets, tx.to) %></td>
	          <td><%= wallet_resolver(wallets, tx.from) %></td>
            <td><%= tx.flow(wallet.address) %></td>
	          <td>
	            <div class="labels" id="transactions-<%= tx.hash %>-<%= tx.id %>" >
	              <% tx.categories.each do |c| %>
	                <span class="badge badge-pill badge-active tag"><%= c.name %></span>
	              <% end -%> 
	            </div> 
	          </td>
            <td>
              <%= form_for tx, remote: true, local: false, turbolinks: false do |f| -%>
                <div class="form-group">
                  <%= f.collection_select :category_ids, Category.all, :id, :name, {}, class: "form-select tag-select" %>
                  <%= f.submit "Tag", class: "tag-submission" %>
                </div>
              <% end -%>
            </td>
	        </tr>                
	      <% end %>
	   <% end -%>
    <% end -%>
  </tbody>
</table>