
<main>
  <section class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="row" style="height: 10px;"></div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10">
             <h2 class="fw-light"><%= @wallet.name %> (<small><%= link_to @wallet.address, "https://etherscan.io/address/#{@wallet.address}" %></small> )</h2>
          </div>
          <div class="col-lg-1"></div>  
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 bd-callout bg-light bd-callout-info" style="margin-top:10px">
            <h6>Eth Inflow (from transactions): <%= Transaction.eth_inflows(@wallet.address) %></h6>
            <h6>Eth Outflow (from transactions): <%= Transaction.eth_outflows(@wallet.address) %></h6>
            <h6>Eth Inflow (from internal-transactions): <%= InternalTransaction.eth_inflows(@wallet.address) %></h6>
            <h6>Eth Outflow (from internal-transactions): <%= InternalTransaction.eth_outflows(@wallet.address) %></h6>
            
            <% if @wallet.is_hot_wallet %>
              <h6>Gas Used (ETH): <%= @wallet.total_gas_used %></h6>
              <h6>Calculated balance (ETH): <%= TransactionCalculator.calculate_eth_balance(@wallet.address) - @wallet.total_gas_used %></h6>
            <% else %>
              <h6>Calculated balance (ETH): <%= TransactionCalculator.calculate_eth_balance(@wallet.address) %></h6>
            <% end %>
            
          </div>
          <div class="col-lg-1"></div>
        </div>
        <div class="row">

          <div class="col-lg-1"></div>
          <div class="col-lg-10 bd-callout bg-light" style="margin-top:10px">

            <h4 class="fw-light">Transactions (only non-zero flow)</h4>
            <a class="btn btn-primary table1-selector" data-bs-toggle="collapse" href="#table1">
              Toggle data
            </a>
            <%= render partial: 'shared/transactions', locals: { transactions: @wallet_transactions, wallet: @wallet, wallets: @wallets }  %>

          </div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 bd-callout bg-light" style="margin-top:10px">
            <h4 class="fw-light">Internal Transactions</h1>
            <a class="btn btn-primary table1-selector" data-bs-toggle="collapse" href="#table2">
              Toggle data
            </a>
            <table class="table collapse" id='table2' style="font-size: 0.8em;">
              <thead>
                <tr>
                  <td>date</td>
                  <td>tx hash</td>
                  <td>to</td>
                  <td>from</td>
                  <td>flow</td>
                  <td>labels</td>
                </tr>
              </thead>
              <tbody>
                <% @internal_transactions.sort_by {|tx| tx.unixtimestamp }.each_with_index do |tx, i| %>
                  <tr class="<%= tx.flow(@wallet.address) > 0 ? 'positive-flow' : 'negative-flow' %>">
                    <td><%= Time.at(tx.unixtimestamp).strftime("%B %d, %Y") %></td>
                    <td><%= link_to "#{tx.hash[0...10]}...", "https://etherscan.io/tx/#{tx.hash}" %></td>
                    <td><%= wallet_resolver(@wallets, tx.to) %></td>
                    <td><%= wallet_resolver(@wallets, tx.from) %></td>
                    <td><%= tx.flow(@wallet.address) %></td>
                    <td></td>
                  </tr>
                <% end -%>
              </tbody>
            </table>
          </div>
          <div class="col-lg-1"></div>
        </div>
        <div class="row">
          <div class="col-lg-1"></div>
          <div class="col-lg-10 bd-callout bg-light" style="margin-top:10px">
            <h4 class="fw-light">Erc20 Transactions</h1>
            <% @grouped_by_erc20.each do |key, value| %>
              <div class="row" style="margin-top:10px;margin-bottom: 5px;">
                <div class="col-lg-10 bd-callout bd-callout-warning" style="margin-top:10px;margin-bottom: 10px;">
                  <h6><%= key %> Inflow: <%= @erc20_inflows[key] %></h6>
                  <% if key == "WETH" %>
                    <h6 style="font-size: 0.9em">+WETH Inflow via Wrapping: <%= @weth_wrapped.map {|tx| tx.value / 10.0 ** 18}.sum %></h6>
                  <% end %>
                  <h6><%= key %> Outflow: <%= @erc20_outflows[key].present? ? @erc20_outflows[key] : 0 %></h6>
                  <% if key == "WETH" %>
                    <h6 style="font-size: 0.9em">+WETH Outflow via Unwrapping: <%= @weth_unwrapped.map {|tx| tx.value / 10.0 ** 18}.sum %></h6>
                  <% end %>
                  <% if key == "WETH" %>
                    <h6>Calculated balance (<%= key %>): <%= @erc20_inflows[key] + (@weth_wrapped.map {|tx| tx.value / 10.0 ** 18}.sum) - (@erc20_outflows[key].present? ? @erc20_outflows[key] : 0) - (@weth_unwrapped.map {|tx| tx.value / 10.0 ** 18}.sum)%></h6>
                  <% else %>
                    <h6>Calculated balance (<%= key %>): <%= @erc20_inflows[key] - (@erc20_outflows[key].present? ? @erc20_outflows[key] : 0) %></h6>
                  <% end %>
                  
                </div>
                <div class="col-lg-1" style="margin-top:10px;margin-bottom: 10px;">
                  <a class="btn btn-primary table1-selector" data-bs-toggle="collapse" href="#table-<%= key %>">
                    Toggle <%= key %> Data
                  </a>
                </div>
                <div class="col-lg-1"></div>

                <table class="table collapse" id="table-<%= key %>" style="font-size: 0.8em;">
                  <thead>
                    <tr>
                      <td>date</td>
                      <td>tx hash</td>
                      <td>to</td>
                      <td>from</td>
                      <td>flow</td>
                      <td>labels</td>
                    </tr>
                  </thead>
                  <tbody>
                    <% value.sort_by {|tx| tx.unixtimestamp }.each_with_index do |tx, i| %>
                      <% if tx.flow(@wallet.address) != 0 %>
                        <tr class="<%= tx.flow(@wallet.address) > 0 ? 'positive-flow' : 'negative-flow' %>">
                          <td><%= Time.at(tx.unixtimestamp).strftime("%B %d, %Y") %></td>
                          <td><%= link_to "#{tx.hash[0...10]}...", "https://etherscan.io/tx/#{tx.hash}" %></td>
                          <td><%= wallet_resolver(@wallets, tx.to) %></td>
                          <td><%= wallet_resolver(@wallets, tx.from) %></td>
                          <td><%= tx.flow(@wallet.address) %></td>
                          <td>
                            <div class="labels">
                              <% tx.categories.each do |c| %>
                                <span class="label">c.name</span>
                              <% end -%> 
                            </div> 
                          </td>
                        </tr>                
                      <% end %>
                    <% end -%>
                  </tbody>
                </table>
              </div>
            <% end -%>
          </div>
          <div class="col-lg-1"></div>
        </div>
      </div>
    </div>
  </section>
</main>

<script type="text/javascript">
  function toggleTable(selector) {
    $(selector).collapse('toggle')
  }
  function toggleCategory(txID, cID) {
    console.log(txID, cID)
  }

</script>