<main>
  <section class="container-fluid">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-5">
        <div class="display-6" style="margin-top:10px;margin-bottom:10px;">Search Transactions</div>
        <%= form_with url: query_search_transactions_path, local: false, method: :get, turbolinks: false do |form| %>
          <div class="form-group">
            <%= form.label :transaction_from, "FROM address:" %>
            <%= form.text_field :transaction_from, class: "form-control"%>
          </div>
          <div class="form-group">
            <%= form.label :transaction_to, "TO address:" %>
            <%= form.text_field :transaction_to, class: "form-control" %>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :positive_cash, class: "form-check-input", role: "switch", id: "positive-switch" %>
            <label class="form-check-label" for="positive-switch">include positive cash transactions</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :negative_cash, class: "form-check-input", role: "switch", id: "negative-switch" %>
            <label class="form-check-label" for="negative-switch">include negative cash transactions</label>
          </div>
          <div class="form-check form-switch">
            <%= form.check_box :neutral_cash, class: "form-check-input", role: "switch", id: "neutral-switch" %>
            <label class="form-check-label" for="neutral-switch">include neutral cash transactions</label>
          </div>
          <%= form.submit "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="col-lg-5" style="padding-top: 200px;">
        <%= form_with url: bulk_update_search_transactions_path, local: false, method: :post, turbolinks: false do |form| %>
          <%= form.select "tag_id", options_from_collection_for_select(Category.all, "id", "name") %>
          <%= form.hidden_field :hidden_transaction_from %>
          <%= form.hidden_field :hidden_transaction_to %>
          <%= form.hidden_field :hidden_positive_cash %>
          <%= form.hidden_field :hidden_negative_cash %>
          <%= form.hidden_field :hidden_neutral_cash %>
          <%= form.submit "Tag all matching entries", class: "btn btn-primary" %>
        <% end %>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-1"></div>
      <div class="col-lg-10">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="transaction-results-summary"></div>
        <div class="transaction-results"></div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </section>
</main>

